body {
    background-color: #17171d;
    font-family: 'Comfortaa', cursive;
}

.main_block {
    height: 400px;
    width: 40%;
    margin-left: 10%;
    position: absolute;
    top: 215px;
}

.block {
    color: #33ffd6;
    font-size: 35px;
    font-family: 'Comfortaa', cursive;

}

.block1 {
    color: white;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    word-spacing: 1px;
}

.block2 {
    color: grey;
    font-size: 10px;
    word-spacing: 2px;
    font-family: 'Comfortaa', cursive;

}

.R {
    width: 20%;
    position: absolute;
    left: 65%;
    bottom: 180px;
}

.card {
    background-color: linear-gradient(#136a8a, #267871);
    height: 350px;
    width: 35%;
    float: left;
    position: absolute;
    top: 120%;
    left: 10%;
    background-image: linear-gradient(#136a8a, #267871);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border-radius: 5px;
}

.card1 {
    text-align: center;
    font-size: 26px;
    color: white;
    font-weight: lighter;
    position: absolute;
    top: 5%;
    left: 20%;
}

.card2 {
    background-color: linear-gradient(#136a8a, #267871);
    height: 350px;
    width: 35%;
    float: left;
    position: absolute;
    top: 120%;
    left: 55%;
    margin-right: 7%;
    background-image: linear-gradient(#136a8a, #267871);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border-radius: 5px;
}

.card3 {
    font-size: 26px;
    color: white;
    font-weight: lighter;
    position: absolute;
    top: 5%;
    left: 20%;
}

.label1 {
    position: absolute;
    top: 150px;
    left: 10%;
    font-size: 23px;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-weight: bold;
}

.label2 {
    position: absolute;
    top: 220px;
    left: 10%;
    font-size: 23px;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-weight: bold;
}

.search1 {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 250px;
    height: 35px;
    font-size: 23px;
    border: 2px solid #376df9;
    outline-color: #376df9;
    color: black;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
}

.search {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 250px;
    height: 35px;
    font-size: 23px;
    border: 2px solid #376df9;
    outline-color: #376df9;
    color: black;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
}

.search2 {
    position: absolute;
    left: 30%;
    top: 60%;
    width: 250px;
    height: 35px;
    font-size: 23px;
    border: 2px solid #376df9;
    outline-color: #376df9;
    color: black;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
}

.label {
    position: absolute;
    top: 150px;
    left: 10%;
    font-size: 23px;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-weight: bold;
}

.button {
    padding-top: 400px;
    padding-left: 20px;
}

.button1 {
    padding: 14px 28px;
    background-color: inherit;
    font-size: 14px;
    display: inline-block;
    margin-left: 35%;
    position: absolute;
    bottom: 14%;
    background-color: #376df9;
    color: white;
    font-weight: bold;
    border: 2px solid #376df9;
    border-radius: 10px;
}

.button2 {
    padding: 14px 28px;
    background-color: inherit;
    font-size: 14px;
    display: inline-block;
    margin-left: 35%;
    position: absolute;
    bottom: 12%;
    background-color: #376df9;
    color: white;
    font-weight: bold;
    border: 2px solid #376df9;
    border-radius: 10px;
}

.content {
    color: white;
    width: 30%;
    height: 30%;
    /* margin-top: 45%; */
    display: inline-block;
    margin-left: 20%;
}

.page1 {
    height: 70px;
    width: 70px;
    background-color: linear-gradient(#136a8a, #267871);
    background-image: linear-gradient(#136a8a, #267871);
    border-radius: 50%;
    position: relative;
    left: 42%;
    top: 10px;

}

.fas {
    margin-top: 18px;
    margin-left: 18px;
}

.page2 {
    text-align: center;
}

.page2 h3 {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.page2 p {
    font-size: 23px;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 400px;
    margin-left: 30px;
}

.content1 {

    color: white;
    width: 30%;
    height: 30%;
    margin-top: 45%;
    display: inline-block;
    margin-left: 2%;
}

.page3 img {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    padding-top: 5px;
    margin-top: 5px;
}

.page4 {
    text-align: center;

}

.page4 h3 {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.page4 p {
    font-size: 23px;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 400px;
    margin-left: 30px;
}

.content2 {
    color: white;
    width: 30%;
    height: 30%;
    margin-top: 5%;
    display: inline-block;
    margin-left: 20%;
}

.page5 img {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    padding-top: 5px;
    margin-top: 5px;
}

.page6 {
    text-align: center;

}

.page6 h3 {
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
}

.page6 p {
    font-size: 23px;
    color: grey;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.content3 {
    color: white;
    width: 30%;
    height: 30%;
    margin-top: 5%;
    display: inline-block;
    margin-left: 2%;
}

.page7 img {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    padding-top: 5px;
    margin-top: 5px;
}

.page8 {
    text-align: center;

}

.page8 h3 {
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
}

.page8 p {
    font-size: 23px;
    color: grey;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.content4 {
    color: white;
    width: 30%;
    height: 30%;
    margin-top: 5%;
    display: inline-block;
    margin-left: 20%;
}

.page9 img {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5px;
    margin-top: 5px;
}

.page10 {
    text-align: center;

}

.page10 h3 {
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
}

.page10 p {
    font-size: 23px;
    color: grey;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.content5 {
    color: white;
    width: 30%;
    height: 30%;
    margin-top: 5%;
    display: inline-block;
    margin-left: 2%;
}

.page11 img {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5px;
    margin-top: 5px;
}

.page12 {
    text-align: center;

}

.page12 h3 {
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
}

.page12 p {
    font-size: 23px;
    color: grey;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.fas {
    color: white;
}

.features {
    margin-bottom: 100px;
}